<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Time:</b>
  <%= time %>
</p>

<p>
  <b>Latitude:</b>
  <%= latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= longitude %>
</p>

<p>
  <b>Location:</b>
  <%= location %>
</p>


<a href="#/index">Back</a>